/*
.custom-shape-divider-top-1742455258 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.custom-shape-divider-top-1742455258 svg {
    position: relative;
    display: block;
    width: calc(162% + 1.3px);
    height: 189px;
}

.custom-shape-divider-top-1742455258 .shape-fill {
    fill: #e47272;
}
*/

/*navigaation bar*/
nav{
    height:96px;
}

.curvewrap{
    position:relative !important;
    display:flex !important;
    flex-direction:column !important;
    align-items:center !important;
    min-height:50px !important;
    padding-top:100px !important;
    background-color:#91b219 !important;
}

.curve{
    
    position:absolute !important;
    height:40px !important;
    width:100% !important;
    bottom:0;

}
div{
    font-family:Arial, Helvetica, sans-serif;
}
.short-border::before {
    content: "";
    display: block;
    width: .1px;
    height: 40%;  /* 50% of the element’s height */
    background-color: white;
    position: absolute;
    left: 0;  /* Left border */
    top: 30%; /* Centers the border */
}
nav a{
    font-weight:400 !important;
    font-size:18px !important;
    color:white !important;
    padding:5px 10px !important;
    letter-spacing:0.08em;
    font-family:"Noto Sans TC", Helvetica, Arial, "微軟正黑體", Heiti TC, "メイリオ", sans-serif !important;

}
.curve::before{
    content:"" !important;
    display:block !important;
    position:absolute !important;
    border-radius:100% 50% !important;
    width:55% !important;
    height:100% !important;
    background-color:white !important;
    transform:translate(85%, 60%) !important;
}

.curve::after{
    content:"" !important;
    display:block !important;
    position:absolute !important;
    border-radius:100% 50% !important;
    width:55% !important;
    height:100% !important;
    background-color:#91b219!important;
    transform:translate(-4%,40%) !important
}
header::after{
    content:"" !important;
    position:absolute !important;
    left:0 !important;
    top:0 !important;
    z-index:-1 !important;
    transform:translateY(-30px) !important;
    width:100% !important;
    height:96px !important;
    background-image:url("../image/headerBg.png") !important;
    transition: all 0.5s !important;
}

